/OperadoresLogicosERelacionais/nbproject/private/
/EstruturasCondicionais/nbproject/private/
/EstruturasCondicionais/build/
/EstruturaRepeticao/nbproject/private/
/EstruturaRepeticao/build/
/Vetor/nbproject/private/
/Vetor/build/
/Vetor2/nbproject/private/
/Vetor2/build/
/Vetor3/nbproject/private/
/Vetor3/build/
/Vetor4/nbproject/private/
/Vetor4/build/
/Vetor5/nbproject/private/
/Vetor5/build/
/Aprend/nbproject/private/
/Aprend/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TesteFuncao/nbproject/private/
/TesteFuncao/build/
/TesteFuncao2/nbproject/private/
/TesteFuncao2/build/
/NumerosAleatorios/nbproject/private/
/NumerosAleatorios/build/
/PooAula1/nbproject/private/