/OperadoresLogicosERelacionais/nbproject/private/
/EstruturasCondicionais/nbproject/private/
/EstruturasCondicionais/build/
/EstruturaRepeticao/nbproject/private/
/EstruturaRepeticao/build/
/Vetor/nbproject/private/
/Vetor/build/
/Vetor2/nbproject/private/
/Vetor2/build/
/Vetor3/nbproject/private/
/Vetor3/build/
/Vetor4/nbproject/private/
/Vetor4/build/
/Vetor5/nbproject/private/
/Vetor5/build/
/Aprend/nbproject/private/
/Aprend/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TesteFuncao/nbproject/private/
/TesteFuncao/build/
/TesteFuncao2/nbproject/private/
/TesteFuncao2/build/
/NumerosAleatorios/nbproject/private/
/NumerosAleatorios/build/
/PooAula1/nbproject/private/
/PooAula1/build/
/aula4/nbproject/private/
/PooAula4/nbproject/private/
/PooAula4/build/
/PooAula5/nbproject/private/
/testes/nbproject/private/
/TestesAprender/nbproject/private/
/Aula06/nbproject/private/
/Aula06b/nbproject/private/
/Aula06c/nbproject/private/
/Aula06d/nbproject/private/
/Aula02/nbproject/private/
/Aula02/build/
/JavaApplication57/nbproject/private/
/ControleRemoto/nbproject/private/
/ControleRemoto1/nbproject/private/
/JavaApplication58/nbproject/private/
/ControleRemoto-/nbproject/private/
/ControleRemoto/build/
/Lutador/nbproject/private/
/Lutador/build/
/Lampada/nbproject/private/
/Lampada/build/
/ContaBanco/nbproject/private/
/ContaBanco/build/
/PessoaC/nbproject/private/
/PessoaC/build/
/AgendaMain/nbproject/private/
/AgendaMain/build/
/PrgCurso/nbproject/private/
/Pessoa/nbproject/private/
/Pessoa/build/
/testeHerança/nbproject/private/
/testeHerança/build/
/aprendeDepurar/nbproject/private/
/Arrays1/nbproject/private/
/Arrays1/build/
/AulaPolimorfismo1/nbproject/private/
/AulaPolimorfismo1/build/
/Projeto1/nbproject/private/
/Projeto1/build/
/Projeto1/dist/
/TesteSwing1/nbproject/private/
/TesteSwing1/build/
/oli,moj]rfismo/nbproject/private/
/Polimorfismo2/nbproject/private/
/Polimorfismo2/build/
/ExercicioPoo/nbproject/private/
/ExercicioPoo/build/
/JogoDaVelha/nbproject/private/
/JogoDaVelha/build/
/JogoDaVelhaTeste/nbproject/private/
/JogoDaVelhaTeste/build/